#infoBar {
    width: 327px;
    height: 48px;
    padding: 0px 20px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    font: 400 12px/0px 'Josefin Regular';
    color: #9495A5;
  }

  #clear-bt {
    font: 400 12px/0px 'Josefin Regular';
    background-color: transparent;
    border: none;
    color: #9495A5;
  }