.menuBar {
  width: 327px;
  height: 48px;
  padding: 0px 20px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  font: 400 12px/12px 'Josefin Regular';
  letter-spacing: -0.17px;
  color: #9495A5;
}

.menuBar button {
  font: 700 12px/12px 'Josefin Bold';
  letter-spacing: -0.17px;
  background-color: transparent;
  border: none;
  transition: color 0.3s ease;
}

.filterMenu {
  width: 166px;
  height: 18px;
  display: inline-flex;
  justify-content: space-between;
}

#desktopFilterMenuBar {
  display: none;
}

.filter-active {
  color: #3A7CFD;
}

.filter-active:hover {
  cursor: default;
}

.filter-inactive-light-mode {
  color: #9495A5;
}

.bt-light-mode {
  color: var(--light-mode-bt-color);
}

.bt-dark-mode {
  color: var(--dark-mode-bt-color);
}

@media(hover:hover) {
  .bt-light-mode:hover {
    color: var(--light-mode-bt-color-hover);
  }


  .bt-dark-mode:hover {
    color: var(--dark-mode-bt-color-hover);
  }
}

#mobileFilterMenuBar {
  margin-top: 16px;
  padding: 0px 80px;
  border-radius: 5px;
}

/* ###################################### DESKTOP VERSION ###################################### */

@media screen and (min-width: 768px) {
  .menuBar {
    width: 540px;
    height: 50px;
    padding: 0px 24px;
    justify-content: flex-start;
    font: 400 14px/14px 'Josefin Regular';
    letter-spacing: -0.19px;
  }

  .menuBar button {
    font: 400 14px/14px 'Josefin Regular';
    letter-spacing: -0.19px;
  }

  #desktopFilterMenuBar {
    display: block;
    margin: 0px 44px 0px 96px;
  }

  #mobileFilterMenuBar {
    display: none;
  }
}