.todo {
  width: 327px;
  height: 48px;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 20px;
}

.todo.dragging {
  opacity: 0.5;
  background-color: #cce7ff;
}

.todo.over {
  border: 2px dashed #007BFF;
}

.task-light {
  border-bottom: solid 1px #E3E4F1;
}

.task-dark {
  border-bottom: solid 1px #494C6B;
}

.todo button:not(.delete-bt) {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  margin-right: 12px;
  outline: none;
}

.todo p {
  width: 230px;
  font: 400 12px/12px 'Josefin Regular';
  letter-spacing: -0.17px;
  margin-right: 13px;
}

.delete-bt {
  width: 12px;
  height: 12px;
  background: url("./img/icon-cross.svg") center/12px no-repeat;
  border: none;
  justify-self: flex-end;
  transition: opacity 0.3s ease;
}

.unCompletedTask-light {
  color: #494C6B;
}

.unCompletedTask-dark {
  color: #C8CBE7;
}

.completedTask-light {
  text-decoration: line-through;
  color: #D1D2DA;
}

.completedTask-dark {
  text-decoration: line-through;
  color: #4D5067;
}

.unCompletedTask-light:hover,
.unCompletedTask-dark:hover {
  cursor: grab;
}

.unCompletedTask-light:active,
.unCompletedTask-dark:active {
  cursor: grabbing;
}

.unFinished-bt-light,
.unFinished-bt-dark {
  border: solid 1px #494C6B;
  background-color: transparent;
}

@media(hover:hover) {

  .delete-bt:hover {
    opacity: 0.5;
  }

  .unFinished-bt-light:hover {
    border: solid 1px transparent;
    background: linear-gradient(var(--light-mode-color), var(--light-mode-color)) padding-box, linear-gradient(-45deg, #C058F3, #55DDFF) border-box;
  }

  .unFinished-bt-dark:hover {
    border: solid 1px transparent;
    background: linear-gradient(var(--dark-mode-color), var(--dark-mode-color)) padding-box, linear-gradient(-45deg, #C058F3, #55DDFF) border-box;
  }
}

.finished-bt {
  border: none;
  background: url("./img/icon-check.svg") center/8px no-repeat, linear-gradient(-45deg, #C058F3, #55DDFF);
}

/* ###################################### DESKTOP VERSION ###################################### */

@media screen and (min-width: 768px) {
  .todo {
    width: 540px;
    height: 65px;
    padding: 0px 24px;
  }

  .todo button:not(.delete-bt) {
    width: 24px;
    height: 24px;
    border-radius: 12px;
    margin-right: 24px;
  }

  .todo p {
    width: 410px;
    font: 400 18px/18px 'Josefin Regular';
    margin-right: 16px;
  }

  .delete-bt {
    width: 18px;
    height: 18px;
    background-size: 18px;
  }

  .finished-bt {
    background: url("./img/icon-check.svg") center/11px no-repeat, linear-gradient(-45deg, #C058F3, #55DDFF);
  }
}