#title {
    width: 325px;
    height: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    margin: 48px auto 0px;
    color: white;
}

h1 {
    margin: 0px;
    padding: 0px;
    font: 700 25px/20px 'Josefin Bold';
    letter-spacing: 10px;
}

#changeBg-bt {
    width: 20px;
    height: 20px;
    border: none;
    transition: opacity 0.3s ease;
}

@media(hover:hover){
    #changeBg-bt:hover {
        opacity: 0.5;
    }
}

.moonBg {
    background: transparent url('./img/icon-moon.svg') center/20px no-repeat;
}

.sunBg {
    background: transparent url('./img/icon-sun.svg') center/20px no-repeat;
}

/* ###################################### DESKTOP VERSION ###################################### */

@media screen and (min-width: 768px) {
    #title {
        width: 541px;
        height: 48px;
        margin: 70px auto 0px;
    }

    h1 {
        font: 700 40px/48px 'Josefin Bold';
        letter-spacing: 15px;
    }

    #changeBg-bt {
        width: 26px;
        height: 26px;
    }

    .moonBg {
        background-size: 26px;
    }

    .sunBg {
        background-size: 26px;
    }
}