/*###################### GENERAL ######################*/

@font-face {
  font-family: 'Josefin Regular';
  src: url("assets/fonts/JosefinSans-Regular.woff")format('woff');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Josefin Bold';
  src: url("assets/fonts/JosefinSans-Bold.woff") format('woff');
  font-style: bold;
  font-weight: 700;
}

:root {
  --light-mode-color: white;
  --dark-mode-color: #25273D;
  --light-mode-bt-color: #9495A5;
  --dark-mode-bt-color: #5B5E7E;
  --light-mode-bt-color-hover: #494C6B;
  --dark-mode-bt-color-hover: #E3E4F1;
}

* {
  box-sizing: border-box;
}

body{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FAFAFA;
}

p{
  margin: 0px;
  padding:0px;
}

menu{
  margin: 0px;
  padding: 0px;
}

button {
  cursor: pointer;
}

/*------------ DARK/LIGHT MODE BACKGROUND------------*/

.bg-light-mode{
  background-color: var(--light-mode-color);
}

.bg-dark-mode{
  background-color: var(--dark-mode-color);
}

/*###################### HEADER ######################*/

header {
  width: inherit;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.head-light-mode {
  background: url(assets/images/bg-mobile-light.jpg) center/100vw no-repeat;
}

.head-dark-mode {
  background: url(assets/images/bg-mobile-dark.jpg) center/100vw no-repeat;
}

#newTodo{
  border-radius: 5px;
  margin-top: 40px;
}

/*###################### MAIN ######################*/

main {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#main-cont {
  width: 327px;
  margin-top: -28px;
}

#todoViewer {
  overflow: hidden;
  border-radius: 5px;
}

.view-light-mode{
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.view-dark-mode{
  box-shadow: none;
}

menu{
  justify-content: center !important;
  margin: 16px 0px 0px;
  border-radius: 5px;
  gap: 18px;
}
