@font-face {
  font-family: 'Josefin Regular';
  src: url("assets/fonts/JosefinSans-Regular.woff")format('woff');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Josefin Bold';
  src: url("assets/fonts/JosefinSans-Bold.woff") format('woff');
  font-style: bold;
  font-weight: 700;
}

:root {
  --light-mode-color: white;
  --dark-mode-color: #25273D;
  --light-mode-bt-color: #9495A5;
  --dark-mode-bt-color: #5B5E7E;
  --light-mode-bt-color-hover: #494C6B;
  --dark-mode-bt-color-hover: #E3E4F1;
}

* {
  box-sizing: border-box;
}

body{
  width: 100vw;
  height: auto;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #171823;
}

p{
  margin: 0px;
  padding:0px;
}

nav{
  margin: 0px;
  padding: 0px;
}

button {
  cursor: pointer;
}

